/* .container{
  height: 10vh;
  display: inline-block;
  /* margin-left: 2px; 
}*/

/* input[type="radio"]{
  /* display: none; 
} */

label{
  cursor: pointer;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

label span{
  display: inline-flex;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  /* height: 40px; */
  /* transition: 2s; */
  background-color: rgb(193,188,188);
}


  input[type="radio"]:checked+span{
   background-color: rgb(85,8,90);
   color:aliceblue;
  }

  .r4{
    margin-left: 10px;
  }
  
  #text-color{
    margin-top: 5px;
    margin-left: 50px;
    background-color: rgb(108, 11, 115);
    color: white;
  }

 label span::before{
  content: "";
  /* width: 20px;*/
  /* height: 20px; */
  border-radius: 3px;
  margin-right: 10px;
  padding-left: 5px;
  /* transition: 2s; */
}

.radio-custom-label{
  position: relative;
}

.radio-custom{
  opacity: 0;
  position: absolute;
}

/* input:checked
~.radio-custom-label::after{
  content: "\2713";
  color: rgb(253,249,253);
  position:fixed;
  font-size: 15px;
  /* padding-left: 1px; */
 /* }  */

/*.fetch-loc{
  color: rgb(108, 11, 115);
}  */  


#head{
  background-color: rgb(108, 11, 115);
  color: white;
  display: inline-flex; 
}

.l1{
  color: rgb(108, 11, 115);
  font-weight: bold;
  text-align: right;
  align-items: right;
}

#btn1{
  margin-left: 0px;
  background-color: rgb(108, 11, 115);
    color: white;
}

.l2{
  border-style:solid;
  border-radius: 15px;
  border-color:rgb(193,188,188);
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.scroll{
  width: fit-content;
  height: 370px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.choose-file{
  align-items: center;
  justify-content: center;
  border-style: dashed;
  width: 300px;
  height:160px;
}

.radio-box{
  padding: 10px;
  height: 20px;
  width: 20px;
  margin-left: 20px; 
  
}


.image{
  height: 60px;
  width: 60px;
  margin: 2px;
  border-style: solid;
  border-width: 2px;
}